*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#nav-bar
{
    position: sticky;
    top:0;
    z-index:15;
    box-shadow: 0 8px 9px 0 rgba(252, 252, 252, 0.24),0 10px 15px 0 rgba(88, 90, 90, 0.19);
}
.navbar{
    background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(255, 255, 255));
    padding: 7px 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding:0 10px;
}
.navbar-nav li a{
    color: rgb(26, 6, 6);
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-toggler{
    font-size: 20px !important;
    font-weight: 500;
    outline: none;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    color: #fff;
    background-color: rgb(1, 5, 250);
    border-radius: 20px;
    text-shadow: blanchedalmond;
    padding-bottom: 50%;
    size: 90px;
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.24),0 10px 15px 0 rgba(0,0,0,0.19);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
}
.navbar-nav .nav-item .nav-link{
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
}
.getintouch:hover,
.getintouch{
    margin: 4px 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: large;
    font-weight: 800;
    border-radius: 20px;
    background-color: rgb(1, 5, 250);
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.24),0 10px 15px 0 rgba(0,0,0,0.19);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#banner{
    background-image: url('https://www.elsetge.cat/myimg/f/79-792941_wallpaper-tulips-flowers-flower-spring-white-background-beautiful.jpg');
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: auto;
}
.promo-title-2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
}
.play-btn{
    width:100px;
    margin: 20px;
}
#banner a{
    color: #fff;
    text-decoration: underline;
}
#aboutus{
    padding:80px 50px;
    
}
.aboutus-img{
    margin-top: auto;
}
.aboutus {
    padding-left: 300px;
}
.coreservices{
    padding-top: 70px;
    text-align: center;
}
.coreservices .heading{
    font-weight: 700;
}
#twocards{
    padding-left: 600px;
    padding-right: 600px;
    padding-bottom: 10%;
    border-radius: 50px;
}
.service-img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-top: 25px;
}
.twocards{
    padding: 20px;
}
.services{
    padding-left: 900px;
}
#banner2{
    padding-top: 40px;
    padding-bottom: 40px;
}
.service-img-2{
    width: 100px;
    height: 100px;
}
#subtitle{
    padding-left: 600px;
    padding-right: 600px;
    border-radius: 50px;
}
.subtitle-img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-top: 25px;
}
.subheading{
    color: blue;
    font-size: 20px;
    font-stretch: expanded;
    padding-left: 530px;
    
}
#workculture{
    padding:100px 50px;
      
}
.workculture-img{
    margin-top: auto;
}
.workculture{
    padding-left: 300px;
    
}
.workculture-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
}
.applynow
{
    margin: 4px 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: large;
    font-weight: 800;
    border-radius: 20px;
    background-color: rgb(1, 5, 250);
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.24),0 10px 15px 0 rgba(0,0,0,0.19);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#jobs{
    padding:100px 50px;
      
}
.jobs{
    padding-left: 300px;
    
}